p{
    text-align: justify;
}

body {
    background: #f8f8fa;
}

.bg-faded {
    background-color: #fff;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.home .date-time {
    color: #9E9E9E;
}

.home .volt-points {
    padding: 1rem;
    background: #FFEE58;
}

.home .card-img-top {
    max-width: 348px;
    border-radius: 0;
}

.home .card-title {
    max-height: 26px;
}
.home .card-text {
    max-height: 72px;
    text-overflow: ellipsis;
}

.btn-fb {
    background: #3b5998;
    border: none;
}

.login .card {
    margin-top: 40%;
}

.login .logo {
    float: left;
    padding-right: 1.35rem;
}

.login .card-title {
    margin-top: 5%;
}

.btn-fb {
    font-family: "Tahoma", sans-serif;
}

.btn-fb:hover {
    background: #293E6B;
}

.fa-facebook {
    padding-right: 0.7rem;
}

.details .date {
    margin-bottom: 0.3rem;
}

.hero {
    background: url('/images/volunteer.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 8rem;
    text-align: center;
    color: #fff;
    position: relative;
}

.redeem-bg {
    background: url('/images/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero .overlay {
    background: rgba(0,0,0,0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.hero .event-title {
    position: relative;
    z-index: 1100;
}

.confirmation .card-block {
    text-align: center;
}

.confirmation .back {
    padding: .5rem 1rem;

}

.confirmation .back:hover {
    text-decoration: none;
}
.profile-link a:hover {
    text-decoration: none;
}

#dropdownMenuButton  {
    padding: 0;
    background: none;
    border: none;
    width: 100%;
}

#dropdownMenuButton:focus {
    outline: none;
}

.dropdown-menu {
    width: 100%;
}

.cancel-confirmation .card{
    text-align: center;
}
